In [1]:
#

In [2]:
import pandas as pd

# Initialize the paramaters of the loan
loan_amount = 1000000
apr = 2.5
loan_term = 240

# Get a monthly percentage rate
apr /= 100
mpr = apr / 12

# Calculate the Monthly Payment for a loan
monthly_payment = (loan_amount * mpr)/(1-(1+mpr) ** -loan_term)
# x = (1 + mpr) ** loan_term
# monthly_payment=loan_amount * (mpr * x) / (x - 1)

def make_payment(principal, mpr, monthly_payment):
    '''Makes a 'payment' by subtracting and updated payment amount from the 
    principal. Returns the principal remaining, and the amount of principal and interest paid
    '''

    current_interest_payment = principal * mpr
    current_principal_payment = monthly_payment - current_interest_payment
    
    principal -= current_principal_payment
    
    return [round(principal, 2), round(current_principal_payment, 2), round(current_interest_payment, 2)] 
#    return [principal, current_principal_payment,current_interest_payment,] 

def main(principal, term_remaining, monthly_payment, mpr):
    '''Returns an Amortization Table in the form of a DataFrame
    '''
    
    payments = [[principal, 0, 0, 0]]
    total_interest = 0
    
    while principal > 0 and term_remaining > 0:
        payment = make_payment(principal, mpr, monthly_payment)
        principal = payment[0]
        term_remaining -= 1
        total_interest += payment[2]
        payment.append(total_interest)
        payments.append(payment)

    amortization_table = pd.DataFrame(data=payments,
                                      columns=['Principal Remaining',
                                              'Current Principal Payment',
                                              'Current Interest Payment',
                                              'Total Interest Paid'])
    return amortization_table

if __name__ == '__main__':
    main(loan_amount, loan_term, monthly_payment, mpr)

In [3]:
print(make_payment(loan_amount,mpr,monthly_payment))

[996784.3, 3215.7, 2083.33]

In [4]:
amortization_table=main(loan_amount,loan_term,monthly_payment,mpr)

In [5]:
amortization_table.head()

,Principal Remaining,Current Principal Payment,Current Interest Payment,Total Interest Paid
0,1000000.00,0.00,0.00,0.00
1,996784.30,3215.70,2083.33,2083.33
2,993561.91,3222.39,2076.63,4159.96
3,990332.80,3229.11,2069.92,6229.88
4,987096.96,3235.84,2063.19,8293.07

In [6]:
amortization_table.tail()

,Principal Remaining,Current Principal Payment,Current Interest Payment,Total Interest Paid
236,21086.22,5244.17,54.85,271656.98
237,15831.12,5255.10,43.93,271700.91
238,10565.07,5266.05,32.98,271733.89
239,5288.05,5277.02,22.01,271755.90
240,0.04,5288.01,11.02,271766.92

In [7]:
print(pd.get_option('display.max_rows'))
amortization_table

60

,Principal Remaining,Current Principal Payment,Current Interest Payment,Total Interest Paid
0,1000000.00,0.00,0.00,0.00
1,996784.30,3215.70,2083.33,2083.33
2,993561.91,3222.39,2076.63,4159.96
3,990332.80,3229.11,2069.92,6229.88
4,987096.96,3235.84,2063.19,8293.07
...,...,...,...,...
236,21086.22,5244.17,54.85,271656.98
237,15831.12,5255.10,43.93,271700.91
238,10565.07,5266.05,32.98,271733.89
239,5288.05,5277.02,22.01,271755.90
240,0.04,5288.01,11.02,271766.92