In [1]:
#

In [2]:
import pandas as pd

# Initialize the paramaters of the loan
loan_amount = 1000000
apr = 4
loan_term = 360

# Get a monthly percentage rate
apr /= 100
mpr = apr / 12

# Calculate the Monthly Payment for a loan
monthly_payment = (loan_amount * mpr)/(1-(1+mpr) ** -loan_term)
# x = (1 + mpr) ** loan_term
# monthly_payment=loan_amount * (mpr * x) / (x - 1)

def make_payment(principal, mpr, monthly_payment):
    '''Makes a 'payment' by subtracting and updated payment amount from the 
    principal. Returns the principal remaining, and the amount of principal and interest paid
    '''

    current_interest_payment = principal * mpr
    current_principal_payment = monthly_payment - current_interest_payment
    
    principal -= current_principal_payment
    
    return [round(principal, 2), round(current_principal_payment, 2), round(current_interest_payment, 2)] 

def main(principal, term_remaining, monthly_payment, mpr):
    '''Returns an Amortization Table in the form of a DataFrame
    '''
    
    payments = [[principal, 0, 0, 0]]
    total_interest = 0
    
    while principal > 0 and term_remaining > 0:
        payment = make_payment(principal, mpr, monthly_payment)
        principal = payment[0]
        term_remaining -= 1
        total_interest += payment[2]
        payment.append(total_interest)
        payments.append(payment)

    amortization_table = pd.DataFrame(data=payments,
                                      columns=['Principal Remaining',
                                              'Current Principal Payment',
                                              'Current Interest Payment',
                                              'Total Interest Paid'])
    return amortization_table

if __name__ == '__main__':
    main(loan_amount, loan_term, monthly_payment, mpr)

In [3]:
print(make_payment(loan_amount,mpr,monthly_payment))

[998559.18, 1440.82, 3333.33]

In [4]:
amortization_table=main(loan_amount,loan_term,monthly_payment,mpr)

In [5]:
amortization_table.head()

,Principal Remaining,Current Principal Payment,Current Interest Payment,Total Interest Paid
0,1000000.00,0.00,0.00,0.00
1,998559.18,1440.82,3333.33,3333.33
2,997113.56,1445.62,3328.53,6661.86
3,995663.12,1450.44,3323.71,9985.57
4,994207.84,1455.28,3318.88,13304.45

In [6]:
amortization_table.tail()

,Principal Remaining,Current Principal Payment,Current Interest Payment,Total Interest Paid
356,18938.53,4695.37,78.78,718537.03
357,14227.51,4711.02,63.13,718600.16
358,9500.78,4726.73,47.43,718647.59
359,4758.30,4742.48,31.67,718679.26
360,0.01,4758.29,15.86,718695.12

In [7]:
print(pd.get_option('display.max_rows'))
amortization_table

60

,Principal Remaining,Current Principal Payment,Current Interest Payment,Total Interest Paid
0,1000000.00,0.00,0.00,0.00
1,998559.18,1440.82,3333.33,3333.33
2,997113.56,1445.62,3328.53,6661.86
3,995663.12,1450.44,3323.71,9985.57
4,994207.84,1455.28,3318.88,13304.45
...,...,...,...,...
356,18938.53,4695.37,78.78,718537.03
357,14227.51,4711.02,63.13,718600.16
358,9500.78,4726.73,47.43,718647.59
359,4758.30,4742.48,31.67,718679.26
360,0.01,4758.29,15.86,718695.12